{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load auth_groups %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
    <h2>Customer Journey Management</h2>
        <ul>
            {% if request.user|has_group:"sale_staff" %}
                <li><a href="journey/create-mapping-file">Create Mapping File</a></li>
                <li><a href="journey/read-instruction">Read Mapping Instruction</a></li>
                <li><a href="journey/import-touchpoint">Import Data</a></li>
            {% elif request.user|has_group:"marketing_analyst_staff" %}
                <li><a href="graph_model/get-visualize-graph-page">Visualize Journey</a></li>
                <li><a href="graph_model/get-cluster-journey-page">Cluster Journey</a></li>
                <li><a href="graph_model/classify-touchpoint">Classify touchpoint</a></li>
                <li><a href="graph_model/predict-touchpoint">Predict Touchpoint</a></li>
                <li><a href="graph_model/add-rule">Add automation rule</a></li>
            {% endif %}
        </ul>
    </div>
    <br/>
    <div class="module" id="recent-actions-module">
        <h2>{% translate 'Recent actions' %}</h2>
        <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
