.create-container {
    box-shadow: 0px 4px 3px #d1d1d1;
    background-color: #ffffff;
    border-radius: 20px;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    font-family: 'American Typewriter';
    position: relative;
    z-index: 1;
}

.table-name {
    margin: auto;
    color: #EA1313;
    font-weight: 500;
    font-size: 30px;
}

.table-configure {
    display: flex;
    margin: 30px 0px;
    padding: 20px;
}

.configure {
    width: 20%;
    position: relative;
    display: block;
}

.center-configure {
    width: 60%;
    position: relative;
    display: block;
}

#tap-icon {
    width: 200px;
    position: absolute;
    top: 400px;
    left: 0%;
    opacity: 0.2;
}

.filename-box {
    width: 100%;
    background-color: #EFEFEF;
    border: 0px;
    border-radius: 10px;
    padding: 20px;
}

.filename {
    width: 30%;
    font-size: 20px;
    color: #292929;
    text-align: left;
}

.filename-txt {
    width: 70%;
    font-size: 20px;
    color: #292929;
    font-family: 'American Typewriter';
}

.form-btn {
    float: right;
    border: 1px #707070 solid;
    background-color: #ffffff;
    color: #FF8484;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'American Typewriter';
}

.form-btn:hover {
    cursor: pointer;
    border: 0;
    background-color: #FF8484;
    color: #ffffff;
}

.mapping-table {
    width: 60%;
    margin: auto;
    background-color: #414141;
    border: 0px;
    border-radius: 10px;
    padding: 20px;
}

.table-header {
    margin-bottom: 15px;
    display: grid;
    grid-auto-columns: 1fr;
    width: 100%;
    padding: 10px 0;
    overflow-x: auto;
}

.header-file {
    grid-row: 1;
    font-weight: 400;
    padding: 0;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.table-row {
    background-color: #EFEFEF;
    margin-bottom: 15px;
    display: grid;
    grid-auto-columns: 1fr;
    width: 100%;
    padding: 10px 0;
    overflow-x: auto;
    border-radius: 10px;
}

.table-column {
    grid-row: 1;
    text-align: center;
    font-size: 15px;
    color: #292929;
    padding: 10px;
}

.input-field {
    width: 100%;
    font-size: 15px;
    color: #292929;
    font-family: 'American Typewriter';
}

.select-input {
    width: 100%;
    font-size: 15px;
    color: #292929;
    font-family: 'American Typewriter';
}

.select-choice {
    font-size: 15px;
    color: #292929;
    font-family: 'American Typewriter';
}