{% extends 'journey/base-dashboard.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'graph_model/css/configure.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="{% static '/graph_model/js/index.js' %}" type="text/javascript"></script> 
    <script>
        var result = "{{result}}";
        if (result) {
            alert(result)
        }
    </script>
    <div class="visualize-container" data-aos="fade-up">
        <div class="title">Visualize Process Graph</div>
        <form class="configuration" action="/admin/graph_model/get-process-graph" method="post" name="graphForm" onsubmit="return validateGraphForm()" id="graphForm" >
            {% csrf_token %}
            <div class="center-configure">
                <div class="configure-txt overflow-txt">Configuration</div>
                <div class="configure-container">
                    <div class="select-container">
                        <label class="select-label">Date From</label>
                        <input type="date" name="startDate" class="select-input"/>
                    </div>
                    <div class="select-container">
                        <label class="select-label">Date To</label>
                        <input type="date" name="endDate" class="select-input"/>
                    </div>
                    <div class="select-container">
                        <label class="select-label">Mining Algorithm</label>
                        <select id="mining-algorithm" name="mining-algorithm" class="select-input" form="graphForm">
                            {% for algorithm in mining_algorithms%}
                                <option value= {{ algorithm.value }}>{{ algorithm.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="configure">
                <button type="submit" class="run-btn">Run</button>
            </div>
        </form>
        <img src="{% static '/graph_model/images/engineering.svg' %}" id="tap-icon"/>
        {% if imgSrc %}
        <div class="result">
            <div class="result-txt overflow-txt">Results</div>
            <div class="result-container">
                    <div style="overflow-x:auto;">  
                        <img src="{% static imgSrc %}">
                    </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}