{% extends 'journey/base-dashboard.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'journey/css/mapping-file.css' %}">
    <script>
        var result = "{{result}}";
        if (result) {
            alert(result)
        }
    </script>
    <div class="create-container" data-aos="fade-up">
        <div class="table-name">Change Password</div>
        <form action="/journey/change-password" method="post" name="passwordForm" onsubmit="return submitChangePassword()" class="table-configure">
            {% csrf_token %}
            <div class="configure"></div>
            <div class="center-configure">
                <div class="filename-box">
                    <div style="width: 100%; display: flex; margin-bottom: 10px">
                        <label class="filename">Old password</label>
                        <input type="password" id="currentPassword" name="currentPassword" value='' class="filename-txt"/>
                    </div>
                    <div style="width: 100%; display: flex; margin-bottom: 10px">
                        <label class="filename">New password</label>
                        <input type="password" id="newPassword" name="newPassword" value='' class="filename-txt"/>
                    </div>
                </div>
            </div>
            <div class="configure">
                <button type="submit" 
                        class="form-btn" 
                        id="submit-create" 
                        onclick="submitChangePassword();">Save</button>
            </div>
        </form>
    </div>
    {% load static %}  
    <script src="{% static '/journey/js/change-password.js' %}" type="text/javascript"></script> 
{% endblock %}