{% extends 'journey/base-dashboard.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'journey/css/documentation.css' %}">
    <div class="documentation-container">
        <div class="documentation-name">Documentation - Data Model</div>
        <div id="content-container">
            <p class="header-content">1.  Channel:</p>
            <p class="main-content">Channel is the method chosen by the customer to interact with the touchpoint, such as a “company’s website”, “mobile application”, or “call center”... </p>
            <ul>
                <li class="list-content">ID            : ID of channel</li>
                <li class="list-content">Name          : name of channel (website, app, store,...)</li>
            </ul>
            <p class="header-content">2.  Traffic_Source:</p>
            <p class="main-content">This section contains information about the Traffic Source from which the session originated. For example, consider a man who watched an advertisement from Youtube about a book. He clicked on the advertisement link to access the home page and view the product details. Let ViewProductDetails be a touchpoint. The trafficSource of this touchpoint is defined as Youtube.</p>
            <ul>
                <li class="list-content">ID            : ID of traffic source</li>
                <li class="list-content">Name          : name of traffic source (Youtube, Google, Facebook,...)</li>
            </ul>
            <p class="header-content">3.  Device_Browser:</p>
            <p class="main-content">This section contains information about the browser that customers used to interact with the company</p>
            <ul>
                <li class="list-content">ID            : ID of browser</li>
                <li class="list-content">Name          : name of browser (chrome, safari, edge,...)</li>
            </ul>
            <p class="header-content">4.  Device_OS:</p>
            <p class="main-content">This section contains information about the operating system that customers used to interact with the company</p>
            <ul>
                <li class="list-content">ID            : ID of operating system</li>
                <li class="list-content">Name          : name of operating system (Windows, MacOS, Ubuntu,...)</li>
            </ul>
            <p class="header-content">5.  Device_Category:</p>
            <p class="main-content">This section contains information about the customer’s device</p>
            <ul>
                <li class="list-content">ID            : ID of device category</li>
                <li class="list-content">Name          : name of device category (smartphone, tablet, laptop,...)</li>
            </ul>
            <p class="header-content">6.  Interact_Item:</p>
            <p class="main-content">This section contains information about the item that customer interacted through touchpoint</p>
            <ul>
                <li class="list-content">ID            : ID of interact item</li>
                <li class="list-content">Name          : name of interact item (product, transaction, video, ...)</li>
            </ul>
            <p class="header-content">7.  Experience_Emotion:</p>
            <p class="main-content">Using only one continuum of emotions–such as unhappy to happy– may fail to depict a customer’s experience</p>
            <ul>
                <li class="list-content">ID            : ID of experience emotion</li>
                <li class="list-content">Name          : name of experience emotion (happy, angry, satisfied, ...)</li>
            </ul>
            <p class="header-content">8.  Action:</p>
            <p class="main-content">Action is a verb that’s denoted for each touchpoint. In other words, a touchpoint is described by an action. A customer can iterate a few times over the same action. Each action will be related to a service, a product, or a context it affects. In general, we call these services or products that belong to a company “interact item”</p>
            <ul>
                <li class="list-content">ID            : ID of action</li>
                <li class="list-content">Name          : name of action (ask for information, technical support, view product info, view product list, ...)</li>
            </ul>
            <p class="header-content">1.  Touchpoint:</p>
            <p class="main-content">An interaction between customers and a company’s products or services at any time through a channel. A touchpoint was described by action through a channel. The stage indicates which stage this touchpoint belongs to. A touchpoint must provide</p>
            <ul>
                <li class="list-content">Customer_ID            : ID of customer who executed the touchpoint</li>
                <li class="list-content">Action_Type            : referenced to Action Model</li>
                <li class="list-content">Time                   : moment when customer executed the touchpoint</li>
                <li class="list-content">Channel_Type           : referenced to Channel Model</li>
                <li class="list-content">Device_Browser         : referenced to Device_Browser Model</li>
                <li class="list-content">Device_OS              : referenced to Devices_OS Model</li>
                <li class="list-content">Device_Category        : referenced to Devices_Category Model</li>
                <li class="list-content">Geo_Continent          : geo-network data about continent tracked from device when customer executed the touchpoint</li>
                <li class="list-content">Geo_Country            : geo-network data about country tracked from device when customer executed the touchpoint</li>
                <li class="list-content">Geo_City               : geo-network data about city tracked from device when customer executed the touchpoint</li>
                <li class="list-content">Traffic_Source_Name    : name of source where the current touchpoint was originated (ad, video, ...)</li>
                <li class="list-content">Traffic_Source_Url     : URL of source where the current touchpoint was originated (ad, video, ...)</li>
                <li class="list-content">Store_ID               : physical store ID where the customer directly interacts with the service of the company</li>
                <li class="list-content">Employee_ID            : employee ID where the customer directly interacts with the service of the company</li>
                <li class="list-content">Webpage_Hostname       : hostname of website which customer executed the touchpoint on</li>
                <li class="list-content">Webpage_Url            : URL of website which customer executed the touchpoint on</li>
                <li class="list-content">Webpage_Title          : title of page on website which customer executed the touchpoint on</li>
                <li class="list-content">App_Name               : mobile app name that customer executed the touchpoint</li>
                <li class="list-content">App_Screen_Title       : title of screen on mobile app that customer executed the touchpoint</li>
                <li class="list-content">Interact_Item_Type     : referenced to Interact_Item Model</li>
                <li class="list-content">Interact_Item_ID       : ID of item that customer interacted through the touchpoint (product_id, ...)</li>
                <li class="list-content">Interact_Item_Url      : URL of item that customer interacted through the touchpoint (video_url, ...)</li>
                <li class="list-content">Interact_Item_Content  : content of item that customer interacted through the touchpoint (email_content, ...)</li>
                <li class="list-content">Experience_Score       : score that customer evaluated for the touchpoint experience</li>
                <li class="list-content">Experience_Emotion     : referenced to Experience_Emotion Model</li>
            </ul>
        </div>
        <div id="content-footer">
            <div id="left-footer">
                <a class="url" href={{ previous_href }}>&#8592; {{ previous_content }}</a>
            </div>
            <div id="right-footer">
                <a class="url" href={{ next_href }}>{{ next_content }} &#8594;</a>
            </div>
        </div>
    </div>
{% endblock %}