{% extends "admin/base.html" %}

{% block content %}
        <div style="width: 100%;text-align:center">
            <h1>Customer Experience Management</h1>
            <h2>IMPORT DATA</h2>
            <br/>
            <br/>
            <label>INSTRUCTION FOR MATCHING: </label>
            <select id='instruction' name='instruction'>
                <option value=''>Select Data Source</option>
                {% for report in matchingReports%}
                    <option value= {{ report.name }}>{{ report.name }}</option>
                {% endfor %}
            </select>
            <br/>
            <label>UPLOAD CSV/JSON FILE: </label>
            <input type="file" 
                    id="upload-csv" 
                    accept=".csv, .json" 
                    style="width: 86px"
                    onchange="importFile({{ allFields }});"
            />
            <br/>
            <br/>
            <input type="submit" 
                    value='Import' 
                    id="submit-file" 
                    style="display:none" 
                    onclick="submitTouchpoint();"
            />
        </div>
            <br/>
            <br/>
        <div id="file-container">
            <div style="overflow-x:auto;">
                <table id="tbl-csv-data" style="margin:auto">
                </table>
            </div>
        </div>
        {% load static %}  
        <script src="{% static '/journey/js/papaparse.min.js' %}" type="text/javascript"></script>
        <script src="{% static '/journey/js/index.js' %}" type="text/javascript"></script> 
{% endblock %}