{% extends 'journey/base-dashboard.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'journey/css/import.css' %}">
    <div class="import-container" id="import-container">
        <div class="import-wrapper">
            <div class="stage">
                <img src="{% static '/journey/images/import-icon.svg' %}" class="import-icon bounce-2"/>
            </div>
            <div class="btn-container">
                <button class="form-btn" onclick="document.getElementById('upload-csv').click()">Upload CSV file</button>
                <input name="Upload a file"
                        type="file" 
                        id="upload-csv"
                        style="display:none"
                        accept=".csv, .json"
                        onchange="importFile({{ allFields }}, {{ matchedColumns }});"/>
            </div>
            <div id="select-mapping-type" style="display: none" class="mapping-container">
                <label class="mapping-type">Choose matching file: </label>
                <select id='report' name='report' onchange='mapFile(this)' class="mapping-select">
                    <option value='' class="mapping-choice">Ex: google-analytics</option>
                    {% for report in matchingReports%}
                        <option value= {{ report.name }} class="mapping-choice">{{ report.name }}</option>
                    {% endfor %}
                    <option value='manipulate'>Manually matching</option>
                </select>
            </div>
            <div id="select-data-source" style="display: none" class="mapping-container">
                <label class="mapping-type">Choose data source: </label>
                <select id='dataSource' name="dataSource" class="mapping-select">
                    <option value='' class="mapping-choice"></option>
                    {% for source in dataSources%}
                        <option value= {{ source.id }} class="mapping-choice">{{ source.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input  class="form-btn" type="submit" 
                        value='Import' 
                        id="submit-file" 
                        style="display:none" 
                        onclick="submitTouchpoint();"
                />
            </div>
            <div id="file-container">
                <div>
                    <table id="tbl-csv-data" style="overflow-x:auto;">
                    </table>
                </div>
            </div>
            <script src="{% static '/journey/js/papaparse.min.js' %}" type="text/javascript"></script>
            <script src="{% static '/journey/js/utils.js' %}" type="text/javascript"></script> 
            <script src="{% static '/journey/js/import-touchpoint.js' %}" type="text/javascript"></script> 
        </div>
    </div>
{% endblock %}