<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Journey Master</title>
    {% load static %}
    <link rel="icon" href="{% static 'journey/images/logo-web.svg' %}" type="image/svg+xml" sizes="18x18">
    <link rel="stylesheet" type="text/css" href="{% static 'journey/css/style.css' %}">
</head>
<body>
    {% block container %}
    {% endblock %}
</body>
</html>