{% extends "admin/base.html" %}

{% block content %}
        {% load static %}  
        <div style="width: 100%;text-align:center">
            <h1>Customer Experience Management</h1>
            <h2>INSTRUCTION FOR MATCHING - {{dataSrc}}</h2>
            <br/>
            <br/>
            <table style="width:500px; margin: auto" >
                <tr>
                  <th style="text-align:center; border:1px solid #000000">{{dataSrc}} Fields</th>
                  <th style="text-align:center; border:1px solid #000000">Customer Journey Fields</th>
                  <th style="text-align:center; border:1px solid #000000">Function</th>
                </tr>
                {% for matchingPair in listMatchingFields%}
                  <tr>
                  {% for field in matchingPair%}
                    <td style="text-align:center; border:1px solid #000000">{{ field }}</td>
                  {% endfor %}
                  </tr>
                {% endfor %}
            </table>
            <br>
            <br>
            <h2>Example:</h2>
            <img src="{{ instructionImg }}" style="width: 600px"/>
        </div>
{% endblock %}